div.basket 
    div.flex.align-center.flex-between
        h5.basket__title Корзина
        div#basket-close.basket__close.br-50
            div.basket__cross
    div.basket__block.flex.align-center.flex-between
        div.basket__count <span id="total-count">0</span> товара
        div.basket__clear очистить список
    div.basket__scroll 
        div.basket__container
    div.basket__order 
        div.flex.align-center.flex-between
            div
                p.basket__result Итого
                div.basket__price <span id="totalPrice">0</span> ₽
            div.basket__btn Оформить заказ

