.nav {
    &__list {
        display: inline-flex;
        padding-right: 24px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $text-black;
        white-space: nowrap;
        transition: all .3s;
        &:hover {
           color: $green;
        }
    }
}